- if !opinion.opinion.blank?
	=div_for opinion do
		= image_tag(opinion.user.avatar.url, size: '50')
		.opVal
			= opinion.rating
		#opTop			
			= link_to opinion.user.name, user_path(opinion.user)
			%span= opinion.created_at
			.opDelete
				- if opinion.user == current_user
					= link_to 'x', opinion, :method => :delete, remote: true

		#opBottom
			.opText
				= opinion.opinion
	