#header.big.contain-to-grid.sticky
	.row
		#logo
			= link_to image_tag( 'logos/mooffin2_blanco.png'), root_path

		#menu_movil
			%a{} 
					
		#login
			- if current_user
				#logout
					= image_tag current_user.avatar.url
					= link_to current_user.name, user_path(current_user)
					#salir
						= link_to image_tag('logout.png', :border => 0, size: '15'), logout_path
			- else	
				#login_box
					%span.login_text Entra con:
					= link_to '', '/auth/google_oauth2', :class => 'google'
					= link_to '', '/auth/facebook', :class => 'facebook'
					= link_to '', '/auth/twitter', :class => 'twitter'

				= render :partial => 'layouts/shared/flash_message'

		%nav.top-bar-section{:id =>'menu_principal'}
			%ul.menu		
				%li= link_to 'Qué cocino?', root_path
				- if current_user 
					%li= link_to 'Mis recetas', user_path(current_user)
					%li= link_to 'Favoritas', user_likes_path(current_user)
					%li= link_to 'Nueva receta', new_recipe_path

	