%header
	#logo
		= link_to image_tag( 'logo.png'), root_path
	#login
		- if current_user
			#logout
				= link_to current_user.name, "/users/#{current_user.username}"
				= link_to 'Salir', logout_path, class: 'salir'
		- else
			#login_nav				
				%ul
					%li 
						= link_to 'Registro', signup_path, class: 'btn_login'
					%li	
						%a{ :class => 'btn_login'}= 'Login'				
						
			#login_box
				#login_omniauth
					%span.entrarCon Entra con:
					= link_to image_tag('google_icon.png'), '/auth/google_oauth2'
					= link_to image_tag('facebook_icon.png'), '/auth/facebook'
				#login_form
					= form_for :sessions, :url => sessions_path, :html => {:class => 'form_login'} do |f|
						= f.text_field :username, :class => 'login_text'
						= f.password_field :password, :class => 'login_text'
						= f.submit 'Login', :class => 'login_btn'

					%a{ :class => 'btn_close_login'}= 'x'

			= render :partial => 'layouts/shared/flash_message'


%nav{:id =>'menu_principal'}
	%ul		
		%li= link_to 'Qué cocino?', root_path
		- if current_user 
			%li= link_to 'Mis recetas', recipes_path
			%li='Favoritas'
			%li= link_to 'Nueva receta', new_recipe_path