- title 'Editar receta: ' + @recipe.title

#wrapper

	= render :partial => 'layouts/shared/header'

	#content.row{ 'ng-controller' => 'InstantIngredientSearchForNewRecipeController', 'ng-init' => "editInit()" }
		#anhadirIng.large-4.columns
			#new_link
				= text_field :link, :text_link, 'ng-model' => 'text_link', placeholder: 'Texto del ingrediente'
				%ui-select{"ng-disabled" => "", "ng-model" => "ingredients.selected", :theme => "select2", "ng-change" => "setValue(ingredients.selected)"}
					%ui-select-match{:placeholder => "Escoja un ingrediente..."} {{$select.selected.name}}
					%ui-select-choices{:repeat => "ingredient in ingredients | filter: {name: $select.search} | limitTo: 15"}
						%span{"ng-bind-html" => "ingredient.name | highlight: $select.search"}
				%select{:id => 'link_importance', "ng-model" => "importanceOfIng", "ng-options" => "i.description for i in importances"}
				%span.btn_addIng.ion-ios7-plus-outline{'ng-click' => 'addLink()'}

			%table{ 'ng-show' => 'searchString.length >= 2', :class => 'resultIngForRecipeTable' }
				%tr{ 'ng-repeat' => 'i in ingredients | searchFor:searchString', 'ng-click' => 'setValue(i)', :class => 'resultIng' }
					%td.resultIng{'ng-bind' => 'i.name'}

			#listaIng
				%ul
					%li{ 'ng-repeat' => 'link in links', 'ng-hide' => 'link._destroy' }
						%span.remove.ion-ios7-close-empty{ 'ng-click' => 'removeLink($index)' }
						%span{'ng-bind' => 'link.text_link'}
						(
						%span{'ng-bind' => 'link.importance.description'}
						)
						%span.hidden{'ng-bind' => 'link._destroy'}
						%span.hidden{'ng-bind' => 'link.id'}

		#mainNuevaReceta.large-8.columns
			#nuevaReceta
				#titulo
					= text_field :recipe, :title, placeholder: 'Título', 'ng-model' => 'recipeTitle'

				#descripcion
					= text_field :recipe, :description, placeholder: 'Descripción', 'ng-model' => 'recipeDescription'

				%input#photoUpload{ :type => 'file', :onchange => 'angular.element(this).scope().readFile()', 'ng-model' => 'recipePhoto' }

				#detalles.row
					#plato.large-3.columns
						%select.selector_plato{ placeholder: 'Plato', "ng-model" => "recipeCourse", :required => '', "ng-options" => "c.description for c in courses"}
					#tiempo.large-3.columns
						= text_field :recipe, :time, placeholder: 'Tiempo (en minutos)', 'ng-model' => 'recipeTime'
					#comensales.large-3.columns
						= text_field :recipe, :servings, placeholder: 'Comensales', 'ng-model' => 'recipeServings'
					#dificultad.large-3.columns
						%select.selector_dif{ placeholder: 'Dificultad', "ng-model" => "recipeDifficulty", "ng-options" => "d.description for d in difficulties"}

				#pasos
					#newStep
						= hidden_field :step, :id, 'ng-model' => 'idStep'
						%textarea.newStep_description{ placeholder: 'Añada los pasos de la receta aquí', 'ng-model' => 'textStepRec', 'ng-keyup' => 'enterKeyStep($event)'}
						%span.btn_removeStep.ion-ios7-close-outline{'ng-click' => 'removeStep($index)', 'ng-show' => 'editIndex >= 0'}
						%span.btn_addStep.ion-ios7-plus-outline{'ng-click' => 'addStep()'}

					%ul.stepList
						%li{ 'ng-repeat' => 'step in steps', 'ng-hide' => 'step._destroy' }
							%span.step_description{'ng-bind' => 'step.description', 'ng-class' => "{ 'step_edit': $index == editIndex }", 'ng-click' => 'editStep($index)'}
							%span.hidden{'ng-bind' => 'step.id'}
							%span.hidden{'ng-bind' => 'step._destroy'}


				#crearReceta
					= button_tag 'Modificar receta', class: 'btn_crearReceta', type: :submit, 'ng-click' => 'updateRecipe()'

				= hidden_field_tag 'idRecipeHidden', @recipe.id, id: 'idRecipeHidden'
				= hidden_field_tag 'linksHidden', @recipe.links.to_json, id: 'linksHidden'
				= hidden_field_tag 'stepsHidden', @recipe.steps.to_json, id: 'stepsHidden'
				= hidden_field_tag 'difficultyHidden', @recipe.difficulty.to_json, id: 'difficultyHidden'
				= hidden_field_tag 'courseHidden', @recipe.course.to_json, id: 'courseHidden'
				= hidden_field_tag 'photoHidden', @recipe.photo.to_json, id: 'photoHidden'


	= render :partial => 'layouts/shared/footer'
