%html
%body{ 'ng-app' => 'instantIngredientsSearch' }

= render :partial => 'layouts/shared/header'

#content{ 'ng-controller' => 'InstantIngredientSearchForNewRecipeController' }
	#anhadirIng
		#new_link
			= text_field :link, :number, 'ng-model' => 'numberOfIng'
			= collection_select :link, :unit, Unit.all, :id, :description, :id => 'link_unit', 'ng-model' => 'unitOfIng', 'ng-change' => 'prueba()'
			= text_field :link, :ingredient, 'ng-model' => 'searchString' 			
			= collection_select :link, :importance, Importance.all, :id, :description, 'ng-model' => 'importanceOfIng'
			= button_tag '+', class: 'btn_addIng', type: :submit, 'ng-click' => 'addLink()'

		%table{ 'ng-show' => 'searchString.length >= 2', :class => 'resultIngForRecipeTable' }
			%tr{ 'ng-repeat' => 'i in ingredients | searchFor:searchString', 'ng-click' => 'setValue(i)', :class => 'resultIng' }
				%td.resultIng {{i.name}}

		#listaIng
			%ul
				%li{ 'ng-repeat' => 'link in links' }
					%span{ 'ng-click' => 'removeLink($index)' } x
					{{link.number}} 
					{{link.unit.description}}
					{{link.ing.name}}
					{{link.importance}}
		
	#mainNuevaReceta
		#nuevaReceta			
			= label :title, "Título"
			= text_field :recipe, :title, 'ng-model' => 'recipeTitle'
			= file_field :recipe, :photo, 'ng-model' => 'recipePhoto'
			= label :time, "Tiempo"
			= text_field :recipe, :time, 'ng-model' => 'recipeTime'
			= label :servings, "Comensales"
			= text_field :recipe, :servings, 'ng-model' => 'recipeServings'
			= label :difficulty_id, "Dificultad"
			= collection_select :recipe, :difficulty_id, Difficulty.all, :id, :description, 'ng-model' => 'recipeDifficulty'
			%ul.stepList
				%li{ 'ng-repeat' => 'step in steps' }
					%span.step_description
						{{step.description}}					
					%span.remove_step{'ng-click' => 'editStep($index)'} v
					%span.remove_step{'ng-click' => 'removeStep($index)'} x
			#newStep
				%textarea.newStep_description{'ng-model' => 'textStepRec'}
				%span.addStep{'ng-click' => 'addStep()'} +

			#crearReceta
				= button_tag 'Crear', class: 'signup_btn', type: :submit, 'ng-click' => 'createRecipe()'			


		
= render :partial => 'layouts/shared/footer'