%html{ 'ng-app' => 'mooffin' }
%body

#wrapper

	= render :partial => 'layouts/shared/header'

	#content.row{ 'ng-controller' => 'InstantIngredientSearchForNewRecipeController', 'ng-init' => "editInit()" }
		#anhadirIng.large-4.columns
			#new_link
				= text_field :link, :number, 'ng-model' => 'numberOfIng', placeholder: 'Nº'
				%select{:id => 'link_unit', "ng-model" => "selected_unit", "ng-options" => "u.unit for u in units"}
				= text_field :link, :ingredient, 'ng-model' => 'searchString', placeholder: 'Nombre'
				%select{:id => 'link_importance', "ng-model" => "importanceOfIng", "ng-options" => "i.description for i in importances"}			
				= button_tag '+', class: 'btn_addIng', type: :submit, 'ng-click' => 'addLink()'

			%table{ 'ng-show' => 'searchString.length >= 2', :class => 'resultIngForRecipeTable' }
				%tr{ 'ng-repeat' => 'i in ingredients | searchFor:searchString', 'ng-click' => 'setValue(i)', :class => 'resultIng' }
					%td.resultIng{'ng-bind' => 'i.name'}

			#listaIng
				%ul
					%li{ 'ng-repeat' => 'link in links' }
						%span.remove{ 'ng-click' => 'removeLink($index)' } x
						%span{'ng-bind' => 'link.number'}
						%span{'ng-bind' => 'link.unit.description'}
						%span{'ng-bind' => 'link.ing.name'}
						(
						%span{'ng-bind' => 'link.importance.description'}
						)
			
		#mainNuevaReceta.large-8.columns
			#nuevaReceta			
				#titulo
					= text_field :recipe, :title, placeholder: 'Título', 'ng-model' => 'recipeTitle'
				%input#photoUpload{ :type => 'file', :onchange => 'angular.element(this).scope().readFile()' }

				#detalles.row
					#tiempo.large-4.columns
						= text_field :recipe, :time, placeholder: 'Tiempo', 'ng-model' => 'recipeTime'
					#comensales.large-4.columns
						= text_field :recipe, :servings, placeholder: 'Comensales', 'ng-model' => 'recipeServings'
					#dificultad.large-4.columns
						%select.selector_dif{ placeholder: 'Dificultad',"ng-model" => "recipeDifficulty", "ng-options" => "d.description for d in difficulties"}

				#pasos				
					%ul.stepList
						%li{ 'ng-repeat' => 'step in steps' }
							%span.step_description{'ng-bind' => 'step.description'}					
							%span.remove_step{'ng-click' => 'editStep($index)'}
								= image_tag('edit.png', :border => 0, size: '15')
							%span.remove_step{'ng-click' => 'removeStep($index)'}
								= image_tag('delete.png', :border => 0, size: '15')
					#newStep
						%textarea.newStep_description{ placeholder: 'Añada los pasos de la receta aquí', 'ng-model' => 'textStepRec', 'ng-keyup' => 'enterKeyStep($event)'}
						= button_tag '+', class: 'btn_addStep', 'ng-click' => 'addStep()'

				#crearReceta
					= button_tag 'Modificar receta', class: 'btn_crearReceta', type: :submit, 'ng-click' => 'updateRecipe()'			


			
	= render :partial => 'layouts/shared/footer'