%html
%body{ 'ng-app' => 'instantIngredientsSearch' }

= render :partial => 'layouts/shared/header'

#content{ 'ng-controller' => 'InstantIngredientSearchForNewRecipeController' }
	#anhadirIng
		#new_link
			= text_field :link, :number, 'ng-model' => 'numberOfIng'
			= collection_select :link, :unit, Unit.all, :id, :desc, :id => 'link_unit', 'ng-model' => 'unitOfIng', 'ng-change' => 'prueba()'
			= text_field :link, :ingredient, 'ng-model' => 'searchString' 			
			= text_field :link, :importance, 'ng-model' => 'importanceOfIng'
			= button_tag '+', class: 'btn_addIng', type: :submit, 'ng-click' => 'addLink()'

		%table{ 'ng-show' => 'searchString.length >= 2', :class => 'resultIngForRecipeTable' }
			%tr{ 'ng-repeat' => 'i in ingredients | searchFor:searchString', 'ng-click' => 'setValue(i)', :class => 'resultIng' }
				%td.resultIng {{i.name}}

		#listaIng
			%ul
				%li{ 'ng-repeat' => 'link in listLinks' }
					%span{ 'ng-click' => 'removeLink($index)' } x
					{{link.0}} 
					{{link.1.desc}}
					{{link.2.name}}
					{{link.3}}
		
	#mainNuevaReceta
		#nuevaReceta
			= form_for @recipe, :html => {:id => 'form_recipe'} do |f|
				= f.label :title, "Título"
				= f.text_field :title
				= f.label :time, "Tiempo"
				= f.text_field :time
				= f.label :servings, "Comensales"
				= f.text_field :servings
				= f.label :difficulty, "Dificultad"
				= f.collection_select :difficulty, Difficulty.all, :id, :desc
				%ul
					%li{ 'ng-repeat' => 'step in steps' }
						= text_field :step, :description, 'ng-model' => 'textStepRec'
						= text_field :step, :time, 'ng-model' => 'timeStepRec'
						%span{'ng-click' => 'removeStep($index)'} x
					%li
						%span{'ng-click' => 'steps.push({})', :class => 'newStep' } Nuevo paso

				= f.submit 'Crear', :class => 'signup_btn'				


		
= render :partial => 'layouts/shared/footer'