%html
%body{ 'ng-app' => 'instantIngredientsSearch' }

= render :partial => 'layouts/shared/header'

#content{ 'ng-controller' => 'InstantIngredientSearchForNewRecipeController' }
	#anhadirIng
		= form_for @link do |l|
			= l.text_field :number
			= l.collection_select :unit, Unit.all, :id, :desc
			= l.text_field :ingredient , 'ng-model' => 'searchString', :class => 'searcher_bar', :placeholder => 'Ingrediente'
			= l.text_field :importance


		%table{ 'ng-show' => 'searchString.length >= 2', :class => 'resultIngForRecipeTable' }
			%tr{ 'ng-repeat' => 'i in ingredients | searchFor:searchString', 'ng-click' => 'setValue(i)', :class => 'resultIng' }
				%td.resultIng {{i.name}}
		
	#mainNuevaReceta
		#nuevaReceta
			= form_for @recipe, :html => {:id => 'form_recipe'} do |f|
				= f.label :title, "Título"
				= f.text_field :title
				= f.label :time, "Tiempo"
				= f.text_field :time
				= f.label :servings, "Comensales"
				= f.text_field :servings
				= f.label :difficulty, "Dificultad"
				= f.collection_select :difficulty, Difficulty.all, :id, :desc
				= f.submit 'Crear', :class => 'signup_btn'
		
= render :partial => 'layouts/shared/footer'