%html
%body

= render :partial => 'layouts/shared/header'

#content
	#receta
		#tituloreceta
			#titulo
				= @recipe.title
				= render :partial => 'recipes/rating'
			#likeRecipe
				= render :partial => 'recipes/like'

			- if @recipe.celiacDesease
				= image_tag('celiac_icon.png', :border => 0, size: '25', :alt => 'Receta no apta para celíacos')

		#detallesreceta
			.dificultad
				Dificultad: #{@recipe.difficulty.description} 
			.tiempoElaboracion
				#{@recipe.time} minutos
			.autor
				Autor: 
				= link_to @recipe.user.name, user_path(@recipe.user)

		#ingredientesreceta
			.titulo
				Ingredientes
			%ul
				- @recipe.links.each do |link|
					%li
						= link.number
						= link.unit.description
						= link.ingredient.name

		#fotoreceta
			= image_tag("pantumaca2.JPG")
		#elaboracionreceta
			.titulo
				Elaboración
			%ul
				- @recipe.steps.each do |step|
					%li= step.description

	#opiniones
		.titulo
			Opiniones
		
		= render @opinions

	#nuevaOpinion
		- if !current_user 
			Debes estar logueado para comentar una receta.
		- elsif @recipe.user == current_user
			No puedes comentar tus propias recetas, pillín!
		- else
			Deja tu opinión
			= form_for [@recipe, @opinion], :html => {:id => 'form_opinion'}, remote: true do |o|
				= o.label :opinion, "Opinión"
				= o.text_field :opinion
				= o.label :rating, "Valoración"
				= o.text_field :rating
				= o.submit 'Opinar!', :class => 'new_opinion_btn'



		
= render :partial => 'layouts/shared/footer'