- title @recipe.title

#wrapper

	= render :partial => 'layouts/shared/header'

	#content.row
		#receta.large-12.columns
			#cabecera.row
				#foto
					= image_tag(@recipe.photo.url(:original))
			#autor.row
				= link_to image_tag(@recipe.user.avatar.url), user_path(@recipe.user)

			#titulo.row
				#texto.large-12.columns
					%h1.title
						= @recipe.title.upcase
					//= render :partial => 'recipes/rating'

				//= pin_it_button(media: image_url(@recipe.photo_url), description: @recipe.title, url: @recipe.photo_url)

				- if @recipe.celiac_desease
					= image_tag('celiac_icon.png', :class => 'celiacs', :border => 0, size: '33', :title => "Esta receta puede no ser apta para celíacos.")

				- if @recipe.suitable_for_vegs
					%span.ion-leaf.vegs{:title => "Receta apta para vegetarianos."}

			- if @recipe.description != ''
				#descripcion.row
					#texto.large-12.columns
						%h2
							= @recipe.description

			- if current_user
				= render :partial => 'recipes/like'

			#contenido.row
				#datos.large-4.columns
					#detalles
						.plato
							- if @recipe.course
								#{@recipe.course.description}
						.dificultad
							Dificultad: #{@recipe.difficulty.description}
						.tiempoElaboracion
							#{@recipe.time} minutos
						.autor
							Autor:
							= link_to @recipe.user.name, user_path(@recipe.user)

					#ingredientes
						%ul
							- @recipe.links.order("importance_id desc").each do |link|
								%li
									= link.unidadSinCeros
									- if link.unit != nil
										= link.unit.description
									- if link.unidadSinCeros.to_i > 1 && link.unit.id == 1
										= link.ingredient.name.downcase.pluralize(:es)
									- else
										= link.ingredient.name.downcase

				#elaboracion.large-8.columns
					%ul
						- @recipe.steps.order("orden asc").each do |step|
							%li= step.description

			#opciones.row
				= render :partial => 'layouts/shared/new_report'


		= hidden_field_tag 'idRecipeHidden', @recipe.id, id: 'idRecipeHidden'

		#opiniones{ 'ng-controller' => 'RecipeOpinionsController' }
			= render :partial => 'layouts/shared/new_opinion'

			= render :partial => 'opinions/opinion'


	= render :partial => 'layouts/shared/footer'
