%html
%body

= render :partial => 'layouts/shared/header'

#content
	#buscador
		
	#main
		#receta
			#tituloreceta
				= @recipe.title
			#detallesreceta
				Dificultad: 
				= @recipe.difficulty
			#ingredientesreceta
				%ul
					= @links.each do |ing|
						%li= ing.number

			#fotoreceta
				= image_tag("logo.png")
			#elaboracionreceta
				%ul
					= @steps.each do |step|
						%li= step.description

  
		
= render :partial => 'layouts/shared/footer'