#myLikes_grid{'ng-show' => "layout == 'grid'", 'ng-cloak' => ''}
	= div_for(like , :class => 'large-4 columns') do
		#my_like_container
			%a{href: recipe_path(like.recipe)}
				%span.rating
					= like.recipe.rating
				%span.overlay
				#foto
					= image_tag(like.recipe.photo_url)
				#titulo
					= link_to like.recipe.title, recipe_path(like.recipe)

				%a.edit.ion-ios7-heart-outline{:href => like, :method => :delete, remote: true}

#myLikes_list{'ng-show' => "layout == 'list'", 'ng-cloak' => ''}
	= div_for like do
		#title
			= link_to like.recipe.title, recipe_path(like.recipe)
		%a.fav.ion-ios7-heart-outline{:href => like, :method => :delete, remote: true}	