#myLikes_grid{'ng-show' => "layout == 'grid'"}
	= div_for(like , :class => 'large-4 columns') do
		#my_like_container
			%a{href: recipe_path(like.recipe)}
				%span.rating
					= like.recipe.rating
				%span.overlay
				#foto
					= image_tag(like.recipe.photo_url)
				#titulo
					= link_to like.recipe.title, recipe_path(like.recipe)
				.edit
					= link_to image_tag('fav.png', :border => 0), like, :method => :delete, remote: true

#myLikes_list{'ng-show' => "layout == 'list'"}
	= div_for like do
		#title
			= link_to like.recipe.title, recipe_path(like.recipe)
		.fav
			= link_to image_tag('fav.png', :border => 0, size: '20'), like, :method => :delete, remote: true		