%html
%body{ 'ng-app' => 'instantIngredientsSearch' }

- title 'Mis recetas favoritas'

#wrapper

	= render :partial => 'layouts/shared/header'

	#content.row{ 'ng-controller' => 'InstantIngredientsSearchController' }
		#buscador.large-4.columns
			#datos_usuario
				.foto
					= image_tag @user.avatar.url
				.nombre
					= @user.name
				.num_recetas
					Recetas favoritas: #{@user.likes.count}
				.val_recetas
					Valoración favoritas: #{@user.average_rate_likes}

		#main.large-8.columns
			= render @likes

			= render :partial => 'layouts/shared/list_types'

	= render :partial => 'layouts/shared/footer'
