-content_for(:title, 'Mooffin - Registro')

%html
%body

= render :partial => 'layouts/shared/header'

#content
	#buscador
		
	#main

		= form_for @user, :html => {:id => 'form_signup'} do |f|
			= f.label :name, "Nombre"
			= f.text_field :name
			= f.label :surname, "Apellidos"
			= f.text_field :surname
			= f.label :username, "Nombre de usuario"
			= f.text_field :username
			= f.label :email, "Email"
			= f.text_field :email
			= f.label :password, "Contraseña"
			= f.password_field :password
			= f.label :confirm_password, "Repita la contraseña"
			= f.password_field :confirm_password
			= f.submit 'Registrar', :class => 'signup_btn'
		
= render :partial => 'layouts/shared/footer'