%html
%body

= render :partial => 'layouts/shared/header'

#content
	#buscador
		#datos_usuario
			.foto
				= image_tag current_user.avatar.path
			.nombre
				= current_user.name
			.num_recetas
				Recetas registradas: #{current_user.recipes.count} 
			.val_recetas
				Valoración recetas: #{current_user.average_rate_recipes}
		
	#main
		%ul
			- @recipes.each do |recipe|
				%li
					= link_to recipe.title, recipe_path(recipe)
					= link_to 'Editar', edit_recipe_path(recipe)
					= link_to 'Eliminar', recipe_path(recipe), :method => :delete, data: { confirm: "Seguro?" }

		
= render :partial => 'layouts/shared/footer'