%html
%body{ 'ng-app' => 'instantIngredientsSearch' }

= render :partial => 'layouts/shared/header'

#content.row{ 'ng-controller' => 'InstantIngredientsSearchController' }
	#buscador.large-4.columns
		#datos_usuario
			.foto
				= image_tag current_user.avatar.url(:thumb)
			.nombre
				= current_user.name
			.num_recetas
				Recetas registradas: #{current_user.recipes.count} 
			.val_recetas
				Valoración recetas: #{current_user.average_rate_recipes}
		
	#main.large-8.columns
		= render @recipes

		= render :partial => 'layouts/shared/list_types'

= render :partial => 'layouts/shared/footer'