%html
%body

= render :partial => 'layouts/shared/header'

#content
	#buscador
		#datos_usuario
			.foto
				= image_tag current_user.avatar.path
			.nombre
				= current_user.name
			.num_recetas
				Recetas registradas: #{current_user.recipes.count} 
			.val_recetas
				Valoración recetas: #{current_user.average_rate_recipes.round(1)}
		
	#main
		= render @recipes

= render :partial => 'layouts/shared/footer'