#wrapper

	= render :partial => 'layouts/shared/header'

	#content.row{ 'ng-controller' => 'UserRecipesController' }
		#buscador.large-4.columns
			#datos_usuario
				.foto{ 'ng-show' => 'show_avatar == true' }
					= image_tag @user.avatar.url
				.nombre
					= @user.name
				.num_recetas
					Recetas registradas: #{@user.recipes.count}
				.val_recetas
					- if @user.average_rate_recipes < '0'
						No tiene recetas valoradas
					- else
						Valoración recetas: #{@user.average_rate_recipes}

				= hidden_field_tag 'idUserHidden', @user.id, id: 'idUserHidden'

		#main.large-8.columns
			= render :partial => 'recipes/recipe'

			= render :partial => 'layouts/shared/list_types'

	= render :partial => 'layouts/shared/footer'
