%html
%body{ 'ng-app' => 'instantIngredientsSearch' }

= render :partial => 'layouts/shared/header'

#content{ 'ng-controller' => 'InstantIngredientsSearchController' }
	#buscador
		#datos_usuario
			.foto
				= image_tag current_user.avatar.path
			.nombre
				= current_user.name
			.num_recetas
				Recetas registradas: #{current_user.recipes.count} 
			.val_recetas
				Valoración recetas: #{current_user.average_rate_recipes}
		
	#main
		%span{'ng-class'=>"{active: layout == 'grid'}", 'ng-click'=>"layout = 'grid'"} grid
		%span{'ng-class'=>"{active: layout == 'list'}", 'ng-click'=>"layout = 'list'"} list
					
		= render @recipes

= render :partial => 'layouts/shared/footer'