#wrapper

	= render :partial => 'layouts/shared/header'

	#content.row{ 'ng-controller' => 'InstantIngredientsSearchController' }
		#buscador.large-4.columns
			#datos_usuario
				.foto
					= image_tag @user.avatar.url
				.nombre
					= @user.name
				.num_recetas
					Recetas registradas: #{@user.recipes.count} 
				.val_recetas
					Valoración recetas: #{@user.average_rate_recipes}
			
		#main.large-8.columns
			= render @user.recipes

			= render :partial => 'layouts/shared/list_types'

	= render :partial => 'layouts/shared/footer'