#wrapper{ 'ng-controller' => 'InstantIngredientsSearchController' }

	= render :partial => 'layouts/shared/header'

	= render :partial => 'layouts/shared/searcher'

	#content.row

		#main.large-12.columns

			#home.fade{'ng-class' => '{in:show_recipes.length == 0, out:show_recipes.length > 0}'}

				#mensajeInicio
					%h1
						Tu buscador de recetas por ingredientes
				#submensajeInicio
					%h2
						<strong>Buscar recetas por ingredientes</strong> nunca fue tan sencillo, introduce los <strong>ingredientes</strong> deseados en el buscador y te propondremos las mejores recetas

				#ultimasRecetas{ 'ng-controller' => 'LastRecipesController' }
					%h3
						Recetas de cocina más recientes
					= render partial: 'layouts/shared/ultimas_recetas'

				#subSubMensajeInicio
					%p
						<b>Regístrate</b> con google o facebook en la cabecera de la web para sacar el máximo partido a <strong>Mooffin</strong>: Crea recetas, guarda tus favoritas, valora y comparte en redes sociales...
					%p
						¿Tienes una buena receta que quieres compartir pero te da pereza insertarla? No te preocupes, envíanosla a <i>recetas@mooffin.es</i> y nosotros nos ocuparemos del resto!
					%p
						Si echas en falta algún ingrediente envíanos un correo a <i>ingredientes@mooffin.es</i>. Intentaremos meterlo lo más rápido posible!
				#nuevosIng

			#recipes.fade{'ng-class' => '{in:show_recipes.length > 0, out:show_recipes.length == 0}'}

				= render :partial => 'layouts/shared/proposals'

				= render :partial => 'layouts/shared/list_types'

	= render :partial => 'layouts/shared/footer'
