#wrapper

	= render :partial => 'layouts/shared/header'

	#content.row{ 'ng-controller' => 'InstantIngredientsSearchController' }
		= render :partial => 'layouts/shared/searcher'

		#main.large-8.columns
			#home.fade{'ng-class' => '{in:show_recipes.length == 0, out:show_recipes.length > 0}'}
				#mensajeInicio
					¿Qué puedo cocinar hoy?
				#submensajeInicio
					Introduzca los ingredientes deseados en el buscador y te propondremos las mejores recetas

			#recipes.fade{'ng-class' => '{in:show_recipes.length > 0, out:show_recipes.length == 0}'}

				= render :partial => 'layouts/shared/proposals'

				= render :partial => 'layouts/shared/list_types'

	= render :partial => 'layouts/shared/footer'
