- content_for(:title, 'Mooffin')

%html	

	%head
		%title yield(:title)

	%body{ 'ng-app' => 'instantIngredientsSearch' }

		= render :partial => 'layouts/shared/header'

		#content.row{ 'ng-controller' => 'InstantIngredientsSearchController' }
			= render :partial => 'layouts/shared/searcher'

			#main.large-8.columns
				#home.row{'ng-hide' => 'show_recipes.length > 0'} 
					#mensajeInicio.large-6.columns
						¿Qué puedo cocinar hoy?
					#imagenInicio.large-6.columns

				#recipes{'ng-show' => 'show_recipes.length > 0'}					

					= render :partial => 'layouts/shared/proposals'

					= render :partial => 'layouts/shared/list_types'

		= render :partial => 'layouts/shared/footer'