!!! Strict
%html{"ng-app" => "mooffin"}
  %head
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
  %title= content_for?(:title) ? yield(:title) : "Mooffin - Buscador de recetas sociales por ingredientes"
  %meta(name= "keywords" content="buscador, recetas, ingredientes, social" )
  %meta(name= "description" content="Buscador de recetas sociales por ingredientes")
  %meta(property= "fb:admins" content="1268698029")
  %meta(property= "fb:app_id" content="1473730946221977")
  = favicon_link_tag "favicon.ico"
  = stylesheet_link_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tags
%body
  = yield
  = javascript_include_tag "application"
